<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="api_url" value="https://api-sandbox.poundpay.com"/>
		<add key="www_url" value="https://www-sandbox.poundpay.com"/>
		<add key="version" value="silver"/>
		<add key="sid" value="DVxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"/>
		<add key="token" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"/>
	</appSettings>
</configuration>